<!DOCTYPE html>
<br lang="en">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>

</head>
<br>
<img src="images/logo.jpg" width="400px" height="300px">
<ul>
    <li><h1><a href="/"class="btn btn-primary">Home</a></h1></li>
</ul>

<h2> Remove All </h2>
<div class="row">
    </form>
    <div class="row">
        <form action="/removeallOldTask" method="post">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

</body>
</html>