<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheets" href="../public/stylesheets/style.css">
</head>
<head>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<img src="images/logo.jpg" width="400px" height="300px">
<body>
<ul>
    <li><h1><a href="/newTask"class="btn btn-primary">Add Task</a></h1></li>
    <li><h1><a href="/listTasks"class="btn btn-primary">List Task</a></h1></li>
    <li><h1><a href="/updateTask"class="btn btn-primary">Update Task</a></h1></li>
    <li><h1><a href="/removeTask"class="btn btn-primary">Remove Task</a></h1></li>
    <li><h1><a href="/removeOld"class="btn btn-primary">Remove Old Task</a></h1></li>
    <li><h1><a href="/newDevelop"class="btn btn-primary">Add Developer</a></h1></li>
    <li><h1><a href="/listDeveloper"class="btn btn-primary">list Developers</a></h1></li>
</ul>
</body>
</body>>
</html>


