<!DOCTYPE html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        table,th,td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<img src="images/logo.jpg" width="400px" height="300px">
<ul>
    <li><h1><a href="/"class="btn btn-primary">Home</a></h1></li>
    <li><h1><a href="/newTask"class="btn btn-primary">Add Task</a></h1></li>
    <li><h1><a href="/updateTask"class="btn btn-primary">Update Task</a></h1></li>
    <li><h1><a href="/removeTask"class="btn btn-primary">Remove Task</a></h1></li>
</ul>
<div class="row">

    <table class="table table-condensed">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>due</td>
            <td>status</td>
            <td>desc</td>
        </tr>
        <% for ( var i = 0; i < tasks.length; i++){ %>
        <tr>
            <td>
                <%= tasks[i]._id %>
            </td>
            <td>
                <%= tasks[i].name %>
            </td>
            <td>
                <%= tasks[i].due %>
            </td>
            <td>
                <%= tasks[i].status %>
            </td>
            <td>
                <%= tasks[i].desc %>
            </td>

        </tr>
        <% }%>

        </tbody>
    </table>
</div>
</body>
</html>